body{
    margin:0;
    font-family:Segoe UI;
    background:#f4f6f9
}
.sidebar{
    width:220px;
    position:fixed;
    height:100%;
    background:#1e1e2f;
    color:#fff
}
.sidebar h3{
    padding:15px
}
.sidebar a{
    display:block;
    padding:15px;
    color:#fff;
    text-decoration:none
}
.sidebar a:hover{
    background:#5757ff
}
.main{
    margin-left:230px;
    padding:20px
}
.cards{
    display:flex;
    gap:20px
}
.card{
    background:#fff;
    padding:20px;
    box-shadow:0 0 10px #ccc;
    width:200px
}
.login-body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh}
.login-box{
    background:#fff;
    padding:30px;
    width:300px;
    box-shadow:0 0 10px #aaa
}
input,button{
    padding:10px;
    width:100%;
    margin:10px 0
}
button,.btn{
    background:#5757ff;
    color:#fff;
    border:none;
    cursor:pointer;
    text-decoration:none
}
table{width:100%;border-collapse:collapse;background:#fff}
th,td{border:1px solid #ddd;padding:10px}

